<div class="form-horizontal login-form" name="login-form">
    <div class="form-group">
        <label for="input-username" class="col-lg-2 control-label">Login:</label>
        <div class="col-lg-10">
            <input name="username" value="name" type="text" class="form-control" id="input-username" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Password:</label>
        <div class="col-lg-10">
            <input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary" data-loading-text="Submitting.." ng-click="model.login()">Go!</button>
            <span class="help-block error">{{model.authorizationErrorMessage}}</span>
        </div>
    </div>
</div>