<form class="form-horizontal login-form" name="login-form" ng-submit="model.login()">
    <div class="form-group">
        <label for="input-username" class="col-lg-2 control-label">Login:</label>
        <div class="col-lg-10">
            <input ng-model="model.username" type="text" class="form-control" id="input-username" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Password:</label>
        <div class="col-lg-10">
            <input ng-model="model.password" type="password" class="form-control" id="input-password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <span class="help-block error">{{model.errorMessage}}</span>
            <input class="btn btn-primary" type="submit" value="Go!">
        </div>
    </div>
</form>