<div>

    <a class="btn btn-primary" ng-hide="model.isMenuMode()" ng-click="model.setMenuMode()">В меню</a>
    <menu model="model" ng-show="model.isMenuMode()"></menu>
    <dictionary ng-show="model.isDictionaryMode()" model="model.dictionaryData"></dictionary>
    <exercise ng-show="model.isExerciseMode()" model="model.exerciseData"></exercise>
    <exercise-with-learning ng-show="model.isExerciseWithLearningMode()" words="model.exerciseData.words"
                            start-exercise="model.setExerciseMode"></exercise-with-learning>
</div>