<html>
<head>
    <title>Basic English</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel='stylesheet' href='stylesheets/style.css' />

    <script src="bower_components/jquery/dist/jquery.js" defer></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js" defer></script>
    <script src="bower_components/angular/angular.js" defer></script>
    <script src="bower_components/angular-route/angular-route.js" defer></script>

    <script src="js/app.js" defer></script>
    <script src="js/controllers.js" defer></script>
    <script src="js/directives.js" defer></script>
    <script src="js/services.js" defer></script>
</head>
<body ng-app="basicEnglishApp" ng-controller="mainController">

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a href="/#/" class="navbar-brand">Welcome to Basic English</a>
            <menu ng-if="isAuthorized()" model="model"></menu>
        </div>
    </div>

    <login-form ng-show="isAuthorized() === false" model="loginFormData"></login-form>
    <div ng-if="isAuthorized()" ng-view class="view-container container-fluid"></div>

</body>
</html>