body {
  background-image: url("../images/Stonehenge-5.jpg");
  background-size: cover;
}

.auto-background {
  background-image: url("../images/Stonehenge-5.jpg");
  background-size: auto;
}

.flex-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.flex-element {
  margin-bottom: 10px;
}

.flex-element:last-child {
  margin-bottom: 0;
}

.dictionary-container {
  display: inline-flex;
  flex-direction: column;
  min-width: 300px;
}

.dictionary-element:nth-child(even) {
  background-color: #e3e3e3;
}

.hover-pointer:hover {
  cursor: pointer;
}

.menu .glyphicon{
  font-size: 18px;
  margin-right: 6px;
}

.wide {
  width: 100%;
}